/* 이벤트 페이지 스타일 설정 */
.events-overview {
    padding: 2rem;
    background-color: white;
    margin: 1rem auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .events-overview h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #8B4513; /* 제목 색상 변경 */
  }
  
  .event {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .event img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
  }
  
  .event-description {
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .event-description h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #A0522D; /* 항목 제목 색상 변경 */
  }
  
  .event-description p {
    margin: 0.5rem 0 0;
    color: #555;
  }
  
  .event-period {
    text-align: right; /* 우측 정렬 */
    font-size: 1rem;
    color: #A0522D; /* 기간 텍스트 색상 */
  }
  
  .event:hover {
    transform: scale(1.05); /* 크기 증가 효과 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* 그림자 강화 효과 */
  }
  
  /* 반응형 디자인 설정 */
  @media (max-width: 768px) {
    .event {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .event img {
      margin: 0 0 1rem 0;
    }
  
    .event-description {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .event-description h3 {
      text-align: center;
    }
  
    .event-description p {
      text-align: center;
    }
  
    .event-period {
      text-align: center;
      margin-top: 1rem;
    }
  }
  